stages:
  - build
  - docker

variables:
  HARBOR_REGISTRY: harbor.dataknife.net
  HARBOR_PROJECT: library
  IMAGE_NAME: unifi-protect-mcp
  DOCKER_TLS_CERTDIR: "/certs"

build:
  stage: build
  image: golang:1.23-alpine
  script:
    - apk add --no-cache make git
    - make build
  artifacts:
    paths:
      - bin/
    expire_in: 1 hour
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG'
  tags:
    - docker

docker-build:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  dependencies:
    - build
  before_script:
    - echo "$HARBOR_PASSWORD" | docker login --username "$HARBOR_USERNAME" --password-stdin $HARBOR_REGISTRY
  script:
    - |
      # Build image once
      docker build -t $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:latest .
      
      # Tag with commit SHA
      docker tag $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:latest \
        $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA
      
      # Push images
      docker push $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:latest
      docker push $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA
      
      # Tag with version if tag exists
      if [ -n "$CI_COMMIT_TAG" ]; then
        docker tag $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:latest \
          $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:$CI_COMMIT_TAG
        docker push $HARBOR_REGISTRY/$HARBOR_PROJECT/$IMAGE_NAME:$CI_COMMIT_TAG
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG'
  tags:
    - docker
